<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
  <% books.forEach(book => { %>
    <div class='book-column'>
      <a href="/books/<%= book.id %>">
        <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
      </a>
      <label class='book-label'><%= book.title %></label>
    </div>
  <% }) %>
</div>