<h2>Search Author</h2>
<label>Name</label>
<form action="/authors" method="GET">
    <input type='text' name='name' value='<%= searchOptions.name %>'>
    <button type='submit'>Search</button>
</form>
<br>
<% authors.forEach(auth => { %>
    <div><%= auth.name %></div>
    <a href='/authors/<%= auth.id %>'>View</a>
    <a href='/authors/<%= auth.id %>/edit'>Edit</a>
    <form action="/authors/<%=auth.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
<% }) %>